.header-page .toolbar-background-md {
    background: #ef8314;
}

.header-page .toolbar-title-md {
    color: white;
}

.content-page {
    background-color: #656260;
}

#content-logo {
    text-align: center;
}

img#imgLogo {
    width: 100%;
    margin: 0px;
}

#tituloCardapio{
    color: white;
}

.tabs-md .tabbar {
    background: #ef8314;
}

ion-icon.tab-button-icon.icon.icon-md.ion-md-book {
    color: white;
}

ion-icon.tab-button-icon.icon.icon-md.ion-md-information-circle {
    color: white;
}

span.tab-button-text {
    color: white;
}